#root {
  max-width: 120px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
@media (prefers-color-scheme: dark) {
  .logo:hover {   
    filter: drop-shadow(0 0 2em #ffffffaa);
  }
}
.card {
  padding: 2em;
}
